.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 36px;
    font-weight: bold;
}
.home, .listAnime{
    padding: 18px;
    font-size: 20px;
    color: #374151;
}
.search{
   background-color: #868686;
   width: 240px;
   height: 40px;
   border-radius: 37px;
   border: none;
   font-size: 18px;
   padding: 3px 10px;
   color: #374151;
}